<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">OSHOP <i class="fa fa-leaf" aria-hidden="true"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarCollapse">
      <ul class="navbar-nav  mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <span class="badge badge-pill badge-warning m-sm-2" *ngIf="cart$ | async as cart">{{ cart.totalItemsCount
              }}</span>
          </a>
        </li>
        <li *ngIf="!appUser" class="nav-item pt-1">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li ngbDropdown *ngIf="appUser" class="nav-item dropdown pt-1">
          <a ngbDropdownToggle class="nav-link dropdown-toggle " role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{appUser.name}}</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" routerLink="/my/orders">My Orders</a>
            <a *ngIf="appUser.isAdmin" class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
            <a *ngIf="appUser.isAdmin" class="dropdown-item" routerLink="/admin/products">Manage Products</a>
            <a class="dropdown-item" (click)="logout()">Log Out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>