<h1 class="space">Orders</h1>
<table class="table">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders$ | async">
      <td>{{ order.shipping.name }}</td>
      <td>{{ order.datePlaced | date}}</td>
      <td>
        <ul class="list-group">
          <li *ngFor="let item of order.items" class="list-group-item">
            {{ item.quantity}} x {{ item.product.title }}
            <div class="float-end">
              {{ item.totalPrice | currency: 'USD':'symbol'}}
            </div>
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>