<p>
  <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>
<p>
  <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Search...">
</p>
<table class="table">
  <thead>
    <tr>
      <th (click)="sort('title')" class="admin-product-table-title">Title &nbsp;<i class="fa fa-sort"></i></th>
      <th (click)="sort('price')" class="admin-product-table-title">Price &nbsp;<i class="fa fa-sort"></i></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of filteredProducts | orderBy: key: reverse | paginate: {itemsPerPage:10,currentPage:p};">
      <td>{{ p.title }}</td>
      <td>{{ p.price }}</td>
      <td>
        <a [routerLink]="['/admin/products/', p.key]">Edit</a>
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>