<div class="row">
  <div class="col-3">
    <product-filter [category]="category"></product-filter>
  </div>
  <div class="col-9">
    <div class="row g-4 products-wrap">
      <ng-container *ngFor="let p of filteredProducts">
        <div class="col">
          <div class="card" style="width: 15rem;">
            <img class="card-img-top" [src]="p.imageUrl" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{ p.title }}</h5>
              <p class="card-text">{{ p.price | currency:'USD': 'symbol' }}
              </p>
              <button (click)="addToCart(p)" class="btn btn-primary">Add to Cart</button>
              <div>{{ getQuantity() }}</div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>